.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #051d44;
}

h1 {
  margin: 30px;
  font-family: 'Great Vibes' ,cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: rgb(78, 200, 204);
  display: inline ;
}

p {
  font-size: 40px;
  color: rgb(78, 200, 204);
  font-family: 'Vibes';
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Vibes';

}

#rolling-dice {
  width: 100px;
  height: 100px;
  border-radius: 20%;
}
